.honey_color_dark{
    background-color: #8e4200;
  }
  
  .honey_color_orange{
    background-color: #db6f02;
  }
  .honey_color{
    background-color:#ff9624;
  }
  
  .honey_color_yellow{
    background-color: #ffb825;
  }
  
  .honey_color_light{
    background-color: #ffd69c;
  }