html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-width: 1300px;
  background-color: #f9f9f9;
  font-family: "Roboto";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* a */
a:link,
a:visited,
a:hover,
a:active,
a {
  color: #000000;
  /* color: #000; */
}

g {
  overflow: scroll;
}

svg g {
  fill: #ec9706;
  fill-opacity: 0.6;
  stroke: black;
  stroke-width: 0.01rem;
}

svg g:hover {
  fill-opacity: 1;
}

svg g:hover text {
  fill-opacity: 1;
}

svg.grid {
  height: 100%;
  width: 100%;
}

g text {
  font-size: 25%;
  fill: black;
  stroke: none;
}

.hex-grid__list {
  width: 95%;
  --amount: 6;
  --counter: 1;
  grid-gap: 1.5rem 3rem;
  height: fit-content;
  overflow: "scroll";
}

@media screen and (min-width: 840px) and (max-width: 1119px) {
  .hex-grid__list {
    --amount: 3 !important;
    --counter: 1 !important;
    grid-gap: 1.5rem 3rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 839px) {
  .hex-grid__list {
    --amount: 3 !important;
    --counter: 1 !important;
    grid-gap: 1.5rem 3rem;
  }
}

.hex-grid__content {
  padding: 1rem !important;
  background-color: #000000 !important;
  font-size: 3rem !important;
  /* overflow: scroll; */
}

.hex-grid__content__inside {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  color: #111111;
  background-color: #ec9706 !important;
  clip-path: polygon(74% 2%, 98% 50%, 74% 98%, 26% 98%, 2% 50%, 26% 2%);
  /* clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem !important;
  text-decoration: none;
  text-align: center;
  transition: transform 0.24s ease-out;
}

.horny_background_color {
  background: rgb(255, 184, 37);
  background: linear-gradient(
    0deg,
    rgba(255, 184, 37, 0.8) 0%,
    rgba(255, 170, 37, 0.9) 89%,
    rgba(255, 150, 36, 0.95) 100%
  );
}

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
} */

.side {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  min-height: 100vh;
  /* background: linear-gradient(45deg, #0051ff, #00eeff); */
  background: #f7f9f9;
}

.card {
  position: relative;
  width: 300px;
  height: 130px;
  margin: 70px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card:hover {
  height: 430px;
}

.imgBx {
  position: absolute;
  top: -50px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  left: 50%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.charBx {
  position: absolute;
  top: -50px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  left: 50%;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 400%;
}

.card:hover .charBx {
  width: 250px;
  height: 250px;
  font-size: 900%;
}

.card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);
}

.card:hover .content .details {
  transform: translateY(0px);
}

.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555;
  line-height: 1.2em;
}

.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.card .content .details .data h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.card .content .details .actionBtn {
  display: flex;
  justify-content: space-between;
}

.card .content .details .actionBtn button {
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background: #1776d2;
  color: #fff;
  cursor: pointer;
}
