/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  min-width: 1300px;
  background-color: #f9f9f9;
  font-family: "Roboto";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* clearfix */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* a */
a:link,
a:visited,
a:hover,
a:active,
a {
  color: black;
}

g{
  overflow: scroll;
}

svg g {
  fill: #EC9706;
  fill-opacity: 0.6; 
  stroke:black;
  stroke-width:0.01rem;
}
svg g:hover {
  fill-opacity: 1;
}
svg g:hover text {
  fill-opacity: 1;
}

svg.grid{
  height: 100%;
  width: 100%;
}

g text{
  font-size:25%;
  fill: black;
  stroke: none;
}

.hex-grid__list{
  --amount: 6 !important;
  --counter: 2 !important;
  grid-gap: 1.5rem 3rem;
}

.hex-grid__content{
  padding: 1rem !important;
  background-color:#EC9706 !important;
  font-size: 3rem !important;
  overflow: scroll;
}

/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
} */

